<?xml version="1.0"?>
<model>
  <name>cbrn_robot</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Andreea</name>
    <email>andreea@example.com</email>
  </author>

  <description>
    CBRN rescue robot with camera sensor for Gazebo Sim.
  </description>
</model>
