*build
*install
*log
*.env
*:*Zone.Identifier$
*.Identifier
*.png
/src/cbrn_perception/test
*.pyc
src/cbrn_perception/cbrn_perception/__init__.py
/src/sim_env/models/pdf
*.zip
*.csv
/csv
*.tflite
/tflite_env
*.pt
/tflite_env
*.pth