*build
*install
*log
*.env
*.config
*:*Zone.Identifier$
*.Identifier
*.png
/src/cbrn_perception/test
*.pyc
src/cbrn_perception/cbrn_perception/__init__.py
/src/sim_env/models/person_standing/materials
/src/sim_env/models/person_standing/meshes
/src/sim_env/models/pdf
*.zip
